<h1>ユーザー設定詳細</h1>

<div>
  <!-- 設定の詳細情報の表示 -->
  <p><strong>設定ID:</strong> <%= @setting.id %></p>
  <p><strong>価格ドロップ時間:</strong> <%= @setting.price_drop_time %></p>
  <p><strong>価格ドロップ量:</strong> <%= @setting.price_drop_amount %></p>
</div>
